 
 
 <div class="card border-primary mb-3 text-center">
      <div class="card-header">Lista de Productos</div>
      <div class="card-body text-primary"></div>
      <div class="table-responsive">
        <table class="table"*ngIf="products && products.length">
          <thead>
            <tr>
              <th>
                <button (click)='toggleImage()' class="btn btn-primary">
                  <i class="fa fa-eye"></i>
                  {{showImage ? 'Ocultar': 'Mostrar'}}
                  Imagenes
                </button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tr *ngFor="let product of products">
            <td><img *ngIf='showImage'
              [src]='product.imageUrl' 
              title="Imagen del Producto"
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'></td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency: 'USD ' :true:'2.2-2'}}</td>
            <!--<td>{{product.starRating}}</td>-->
            <td><app-star [rating]="product.starRating"></app-star></td>
          </tr>
        </table>
      </div>
 </div>