<!-- Modal -->
<div class="modal" [ngStyle]="{'display': modalAddService.oculto} " tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!--Formulario-->
      <form [formGroup]="formProduct" (ngSubmit)="saveData()" novalidate>
        <div class="modal-header">

          <h4 class="modal-title">Crear Producto</h4>
          <button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--Modal Body-->
        <div class="modal-body">

          <!--Input Nombre-->
          <div class="form-group row">
            <label class="col-3 col-form-label" >Nombre</label>
            <div class="col-9">
              <input formControlName="name" class="form-control" type="text" placeholder="Nombre">
              <div *ngIf="formProduct.get('name').errors && (formProduct.get('name').touched 
              || formProduct.get('name').dirty)" class = "alert alert-danger">El nombre del producto es obligatorio

              </div>
            </div>
          </div>
          <!--Input Codigo-->
          <div class="form-group row">
            <label class="col-3 col-form-label">Código</label>
            <div class="col-9">
              <input formControlName="code"  class="form-control" type="text" placeholder="Código">
              <span *ngIf="formProduct.get('code').pending">(buscando...)</span>
              <div *ngIf="formProduct.get('code').errors && formProduct.get('code').errors?.existe" class = "alert alert-danger">El código existe
                <!--(formProduct.get('code').touched 
              || formProduct.get('code').dirty)" class = "alert alert-danger">El código deben ser 3 letras seguidas de 4 números-->
              </div>
            
            </div>
          </div>
          <!--Input Fecha-->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="">Fecha</label>
            <div class="col-9">
              <input formControlName="date" class="form-control" type="date" placeholder="Fecha">
            </div>
          </div>
          <!--Input Precio-->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="">Precio</label>
            <div class="col-9">
              <input formControlName="price"  class="form-control" type="number" placeholder="Precio">
              <div *ngIf="formProduct.get('price').errors && (formProduct.get('price').touched 
              || formProduct.get('price').dirty)" class = "alert alert-danger">El precio del producto no debe ser negativo
              </div>
            </div>
          </div>
          <!--Input Rating-->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="">Rating</label>
            <div class="col-9">
              <input formControlName="rating"  class="form-control" type="number" placeholder="Rating">
            </div>
          </div>
          <!--Input Descripción-->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="">Descripción</label>
            <div class="col-9">
              <input formControlName="description"  class="form-control" type="text" placeholder="Descripción">
            </div>
          </div>
        </div>
        <!--Modal footer-->
        <div class="modal-footer">
          <button type="submit" [disabled]="!formProduct.valid" class="btn btn-primary">Guardar</button>
          <button (click)="ocultarModal()" type="button" class="btn btn-danger">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>